/*
  Override default refinery application CSS below.
  Formatting applies to all frontend.
*/
body {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    background: #212121;
    color : #fff;
    font-family: Helvetica, Arial, sans-serif;
}

.header {
    width: 940px;
    height: 115px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-bottom: 1px solid #fff;
}

a { color: #fff; }

/* Site Logo */
#logo
{
    margin-left: 15px;
}

#logo img
{
    float: left;
}

#logo a {
    float: left;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 45px;
    margin-left: 10px;
}

/* Site Navigation */
#nav_content nav {
    float: right;
    padding-top: 71px;
    width: 500px;
    margin-top: 20px;
}

#nav_content nav a
{
    margin-left: 0;
    margin-right: 15px;
    color: #818181;
    font-size: 100%;
    line-height: 16.8px;
    height: 50px;
    padding-left: 15px;
    text-decoration: none;
    text-transform:lowercase;
}

.menu li.selected > a
{
    color: white !important;
}
