<h1 id='logo'>
  <img src="/images/M_white_transparent_90x90.png" alt="&nbsp;" height="90" width="90">
  <%= link_to RefinerySetting.find_or_set(:site_name, "Company Name"), root_path %>
</h1>
<div id="nav_content">
<%= render(:partial => "/shared/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           }) %>
</div>
