<!-- render :partial => "/shared/content_page" -->
  <style type="text/css">

    #body_content
    {
        margin-top: 20px;
    }

    .content_left
    {
        width: 600px;
        float: left;
    }

    .content_right
    {
        float : left;
        width : 320px;
    }
  </style>
<section id='body_content'>
  <div class="content_left">
    <%=raw @page[:body] %>
  </div>
  <div class="content_right">
    <%=raw @page[:side_body] %>
  </div>
</section>
<style type="text/css">

    #site_info_content {
        margin: 0 50px;
    }

    #site_info_left {
        float: left;
        width: 430px;
    }

    #site_info_right {
        float : right;
        width : 430px;
    }

</style>
<div id="site_info_content">
  <div id="site_info_left">
    <%=raw @page[:site_info_left] %>
  </div>
  <div id="site_info_right">
    <%=raw @page[:site_info_right] %>
  </div>
</div>
<script type="text/javascript">

  function init() {

      var panel = $('#s1');

      // Image cycling
      if (panel)
      {
          panel.cycle({
              fx    : 'fade',
              fit   : 1,
              height: '378px',
              width : '600px',
              pause : 1
          });
      }

  }

  $(document).ready(init);
</script>