<!-- render :partial => "/shared/content_page" -->
<% content_for :head_libraries, jquery_include_tags(:jquery_ui => false) %>
<% content_for :head, javascript_include_tag('application') %>
<% content_for :head, javascript_include_tag('jquery.cycle') %>
<section id='body_content'>
  <style type="text/css">

    .content_left {
        border: 2px solid #818181;
        width: 400px;
        float: left;
    }

    .content_right {
        float : right;
        width : 480px;
    }
  </style>
  <div class="content_right">
    <%=raw @page[:body] %>
  </div>
</section>
<!--<section id="site_info">-->
  <!--<%=raw @page[:side_body] %>-->
<!--</section>-->

<style type="text/css">

    #site_info_content {
        margin: 0 50px;
    }

    #site_info_left {
        float: left;
        width: 430px;
    }

    #site_info_right {
        float : right;
        width : 430px;
    }

</style>
<div id="site_info_content">
  <div id="site_info_left">
    <%=raw @page[:site_info_left] %>
  </div>
  <div id="site_info_right">
    <%=raw @page[:site_info_right] %>
  </div>
</div>
<script type="text/javascript">

  function init() {

      // Image cycling
      $('#s1').cycle({
          fx    : 'fade',
          pause : 1
      });

  }

  init();

</script>